@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #111128;
  font-family: "Space Mono", monospace;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 3.125rem;
}

header .logo {
  cursor: pointer;
  font-family: "Cinzel Decorative", cursive;
  font-size: 35px;
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  transition: color 0.5s, transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

header .logo:hover {
  color: #5223c1;
}

header nav li,
header nav a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

header nav li {
  display: inline-block;
  padding: 0 1.25rem;
}

header nav li a {
  -webkit-transition: color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  transition: color 0.5s, transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

header nav li a:hover {
  color: #5223c1;
}

header .resume_btn {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.75rem 1rem;
  cursor: pointer;
  -webkit-transition: border 0.5s, color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: border 0.5s, color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: border 0.5s, color 0.5s, transform 0.2s, background-color 0.2s;
  transition: border 0.5s, color 0.5s, transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

header .resume_btn:hover {
  color: #5223c1;
  border: 1px solid #5223c1;
}

main {
  padding: 0px 150px;
}

main #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #hero .container h1 {
  margin: 0px 0px 3px 4px;
  color: #5223c1;
}

main #hero .container h2 {
  font-size: xx-large;
  color: white;
}

main #hero .container h3 {
  color: white;
}

main #hero .container h4 {
  margin-top: 40px;
  color: white;
}

.contact_me {
  position: absolute;
  left: 54rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.75rem 1rem;
  cursor: pointer;
  -webkit-transition: border 0.5s, color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: border 0.5s, color 0.5s, background-color 0.2s, -webkit-transform 0.2s;
  transition: border 0.5s, color 0.5s, transform 0.2s, background-color 0.2s;
  transition: border 0.5s, color 0.5s, transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

.contact_me:hover {
  color: #5223c1;
  border: 1px solid #5223c1;
}
/*# sourceMappingURL=style.css.map */