@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

$background-color: #1a1a40;
$primary-color: #270082;
$secondary-color: #7a0bc0;
$text-color: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;

  .logo {
    cursor: pointer;
  }

  nav {
    list-style-type: none;
    li,
    a {
      font-size: 16px;
      color: white;
      text-decoration: none;
    }

    li {
      display: inline-block;
      padding: 0 20px;

      a {
        transition: all 0.3s ease 0s;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .resume_btn {
    font-size: 16px;
    color: white;
    text-decoration: none;

    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 2px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover{
        background-color: $primary-color;
    }
  }
}
